{
  "openapi": "3.1.0",
  "info": {
    "title": "TollGuru Toll API",
    "description": "<p>You can download the TollGuru API spec using the download link above and import collections in Postman for testing. Here is <b><b><a href='https://learning.postman.com/docs/integrations/available-integrations/working-with-openAPI/'>how to import collections in Postman.</b></a></b></p>\n\n<h2>Introduction</h2>\n<p>You can use TollGuru Toll API service to</p>\n<ul>\n  <li>Calculate tolls for your route.</li>\n  <li>Calculate other costs for your route (such as fuel expenses, driver expenses).</li>\n  <li>Calculate the cheapest, the fastest and other other optimal routes.</li>\n</ul>\n\n<p>By integrating our API with your application or website, you can provide your users with a powerful tool for efficient and cost-effective route planning.</p>\n\n<h2>How to use TollGuru API</h2>\n<p>With the Toll API you can calculate tolls, fuel costs and optimal routes for: </p>\n<p><b>Pre-trip planning</b></p>\n<ul>\n  <li>Specify origin, destination and waypoints, if any</li>\n  <li>Specify pre-trip route polyline or shape (latitude, longitude coordinates) from any mapping service including <b><a href=\"https://developers.google.com/maps/documentation/directions/intro?hl=en\" >Google</b></a>, <b><a href=\"https://docs.microsoft.com/en-us/bingmaps/v8-web-control/map-control-concepts/directions-module-examples/?redirectedfrom=MSDN\" >Bing</b></a>, <b><a href=\"https://docs.mapbox.com/api/\" >MapBox</b></a>, <b><a href=\"https://developer.apple.com/documentation/mapkit/mkdirections\" >Apple Map</b></a>, <b><a href=\"https://developer.here.com/documentation#routing_and_navigation_section\" >HERE</b></a>, <b><a href=\"https://developer.tomtom.com/routing-api\" >TomTom</b></a>, <b><a href=\"https://developers.google.com/waze/intro-transport\" >Waze</b></a>, <b><a href=\"https://developers.arcgis.com/features/directions/\" >ESRI</b></a>, <b><a href=\"https://business.mapquest.com/products/routing-directions-api\" >MapQuest</b></a>, <b><a href=\"https://www.jawg.io/docs/apidocs/routing/\" >JawgMaps</b></a>, <b><a href=\"https://info.maps.trimble.com/get-an-api-key\" >Trimble</b></a>, <b><a href=\"https://xserver2-dashboard.cloud.ptvgroup.com/dashboard/Default.htm#UseCases/Routing/OVER_Routing.htm\" >PTV</b></a>, <b><a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/route-api\" >MapmyIndia</b></a>, <b><a href=\"https://tech.yandex.com/routing/\" >Yandex</b></a>, <b><a href=\"https://api.viamichelin.com/services/api-rest/\" >Michelin</b></a>, <b><a href=\"https://developer.baidu.com/\" >Baidu</b></a>, <b><a href=\"https://lbs.amap.com/api/webservice/guide/api/direction\" >Gaode</b></a> or your custom source</li>\n</ul>\n\n<p><b>Post-trip toll cost reconciliation</b></p>\n<ul>\n  <li>Send GPS tracks, such as those received from a smartphone, car GPS or a fleet telematics device.</li>\n</ul>\n\n<h2>Get started</h2>\n<p>Sign up for a free API key using your email and password. We suggest you use Postman to test the API before you integrate Toll API into your products. TollGuru Toll API is a REST API with predictable resource-oriented URLs. It uses standard HTTP response codes and authentication to accept form-encoded request bodies and return JSON-encoded responses.</p>\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "MapUp Engineering Team",
      "email": "eng@TollGuru.com",
      "url": "tollguru.com"
    },
    "version": "2023-02-21"
  },
  "servers": [
    {
      "url": "https://apis.tollguru.com",
      "description": "apis.tollguru.com"
    }
  ],
  "tags": [
    {
      "name": "Our Client Libraries",
      "description": "You can use client libraries in Java, Python, Go, Node.js, PHP, Ruby, .NET to quickly integrate Toll API.</p><p> <div id=\"banner\"> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/php-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/php.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">PHP</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/python-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/python.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">Python</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/javascript-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/javascript.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">JS</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/java-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/java.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">Java</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/nodejs-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/node-js.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">NodeJS</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/go-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/go.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">GO</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/ruby-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/ruby.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">Ruby</p></b></a></div> <div class=\"images\" style=\"margin: 2.5%;display: inline-block !important;width: 15%;text-align: center;\"><b><a href=\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/client-library/dotnet-client-generated.zip\"><img src =\"https://TollGuru-api-documentation.s3.us-east-2.amazonaws.com/icons/dotnet.png\" width=70 download><p class=\"clientLibrary\" style=\"margin-top: 0;text-align: center;\">.NET</p></b></a></div> </div>"
    },
    {
      "name": "Tolls between Origin, destination, waypoints",
      "description": "Use this API endpoint to calculate tolls and fuel expenses between origin, destination, and waypoints (if any). With this API endpoint, you can <ul> <li>Calculate tolls for various vehicle types including cars, pickups, SUV towing trailers, taxis, trucks (up to 9-axles), RV, motorcycles, etc. </li> <li>See tolls for all routes</li> <li>See fuel expenses for all routes</li> <li>See the cheapest, the fastest and other optimal routes</li> <li>Modify vehicle types to include</li> </ul> Specifically, for trucks, you can <ul> <li>Return tolls by specifying zip codes (zip code followed by country name)</li> <li>Return tolls for truck compliant routes (based on axle count, height, weight, truck length </li> <li>Return Hours-of-service (HOS) compliant routes with information for suggested stop locations</li> <li>Return distance traveled in each state (mileage per state) </li> </ul> To summarise, the endpoint adds toll and fuel cost information to routes provided by <b><a href='https://developers.google.com/maps/documentation/directions/overview'>Google Map</b></a> and <b><a href='https://developer.here.com/documentation/routing-api/8.14.0/dev_guide/index.html'>HERE Map</b></a>. It extends the mapping functionality of Google Maps and HERE maps by adding tolls and fuel estimates to the route direction information. The endpoint accepts various parameters such as your vehicle type, fuel efficiency, and fuel price. You can specify whether you want information for routes from Google or HERE maps. <h3>Questions for constructing request body</h3>  <ul> <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-make-requests-using-addresses?' rel='noopener' target='_blank'>How to make requests using addresses?</a></li> <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-make-requests-using-geo-coordinates?' rel='noopener' target='_blank'>How to make requests using geo-coordinates?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-add-waypoints?' rel='noopener' target='_blank'>How to add waypoints?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-choose-a-mapping-service-provider?' rel='noopener' target='_blank'>How to choose a mapping service provider?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-customize-a-vehicle?' rel='noopener' target='_blank'>How to customize a vehicle?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-customize-fuel-related-information?' rel='noopener' target='_blank'>How to customize fuel related information?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-get-turn-by-turn-directions-in-response?' rel='noopener' target='_blank'>How to get turn by turn directions in response?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-get-tolls-on-your-route-based-on-departure-time?' rel='noopener' target='_blank'>How to get tolls on your route based on departure time?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-get-state-mileage-information-for-North-America?' rel='noopener' target='_blank'>How to get state mileage information for North America?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-get-tolls-for-EV-along-with-charging-points-for-North-America?' rel='noopener' target='_blank'>How to get tolls for EV along with charging points for North America?</a></li>  <li><a href='https://tollguru.com/tolls-between-origin-destination-waypoints-using-a-mapping-service-faq#How-to-get-vignette-information-for-Europe?' rel='noopener' target='_blank'>How to get vignette information for Europe?</a></li> </ul></p>"
    },
    {
      "name": "Tolls for complete route polyline from a mapping service",
      "description": "Use this service when you are already using a mapping service for your routing and you are able to send the complete route from the mapping service in the request. You will need to get the complete route from the mapping service (and not just origin, destination and some stops on the route) to receive accurate toll information. You can <ul> <li>Specify whether you want to send route polyline (encoded using <b><a href=\"https://developers.google.com/maps/documentation/utilities/polylinealgorithm\">Google encoded polyline algorithm</b></a> or shape (latitude and longitude pairs)</li> <li>Specify vehicle type. For example, you can receive tolls for vehicles based on axle counts for cars, SUV, pick-up, trucks (up to 9-axles), motorcycle, bus, motorhome, RV, limousine.</li> <li>Specify truck parameters such as weight, height, axle counts and receive tolls based on weight, height, etc.</li> <li>Specify the source of route polyline such as <b><a href=\"https://developers.google.com/maps/documentation/directions/intro?hl=en\" >Google</b></a>, <b><a href=\"https://docs.microsoft.com/en-us/bingmaps/v8-web-control/map-control-concepts/directions-module-examples/?redirectedfrom=MSDN\" >Bing</b></a>, <b><a href=\"https://docs.mapbox.com/api/\" >MapBox</b></a>, <b><a href=\"https://developer.apple.com/documentation/mapkit/mkdirections\" >Apple Map</b></a>, <b><a href=\"https://developer.here.com/documentation#routing_and_navigation_section\" >HERE</b></a>, <b><a href=\"https://developer.tomtom.com/routing-api\" >TomTom</b></a>, <b><a href=\"https://developers.google.com/waze/intro-transport\" >Waze</b></a>, <b><a href=\"https://developers.arcgis.com/features/directions/\" >ESRI</b></a>, <b><a href=\"https://business.mapquest.com/products/routing-directions-api\" >MapQuest</b></a>, <b><a href=\"https://www.jawg.io/docs/apidocs/routing/\" >JawgMaps</b></a>, <b><a href=\"https://info.maps.trimble.com/get-an-api-key\" >Trimble</b></a>, <b><a href=\"https://xserver2-dashboard.cloud.ptvgroup.com/dashboard/Default.htm#UseCases/Routing/OVER_Routing.htm\" >PTV</b></a>, <b><a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/route-api\" >MapmyIndia</b></a>, <b><a href=\"https://tech.yandex.com/routing/\" >Yandex</b></a>, <b><a href=\"https://api.viamichelin.com/services/api-rest/\" >Michelin</b></a>, <b><a href=\"https://developer.baidu.com/\" >Baidu</b></a>, <b><a href=\"https://lbs.amap.com/api/webservice/guide/api/direction\" >Gaode</b></a> or your custom source (“custom”)</li> <li>Since you specify the exact route, you will receive tolls for the route. You will not receive tolls for alternate routes between origin and destination.</li> </ul> For more details, visit <b><a href=\"https://medium.com/TollGuru/know-toll-any-route-TollGuru-map-independent-toll-algorithm-product-release-d99a7e1bacfa\">TollGuru map independent algorithm</b></a> and how see we deal with <b><a href=\"https://medium.com/TollGuru/debugging-route-polyline-errors-TollGuru-polyline-to-toll-api-8f7c4f1fd317\">edge cases and common pitfalls</b></a> <h3>Questions for constructing request body</h3>  <ul>  <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-make-a-request-using-encoded-polyline?\" rel=\"noopener\" target=\"_blank\">How to make a request using encoded polyline?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-make-a-request-using-the-path-of-lat-lng?\" rel=\"noopener\" target=\"_blank\">How to make a request using the path of lat-lng?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-customize-a-vehicle?\" rel=\"noopener\" target=\"_blank\">How to customize a vehicle?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-get-tolls-on-your-route-based-on-departure-time?\" rel=\"noopener\" target=\"_blank\">How to get tolls on your route based on departure time?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-customize-fuel-related-information?\" rel=\"noopener\" target=\"_blank\">How to customize fuel related information?</a></li> <li><a href=\"https://tollguru.com/tolls-using-a-complete-polyline-from-any-mapping-service-faq#How-to-get-state-mileage-information-for-North-America?\" rel=\"noopener\" target=\"_blank\">How to get state mileage information for North America?</a></li> </ul></p>"
    },
    {
      "name": "TollTally - GPS Tracks to Toll API",
      "description": "Use TollTally - GPS Tracks to Toll API - to calculate tolls after you make the trip. You can upload your GPS tracks (in CSV format) to receive tolls for the likely <b><a href=\"https://medium.com/TollGuru/debugging-route-polyline-errors-TollGuru-polyline-to-toll-api-8f7c4f1fd317\" target=\"blank\">route matched</a></b> using the GPS tracks. You can <ul> <li>Specify vehicle type. For example, you can receive tolls for vehicles based on axle counts for cars, SUV, pick-up, trucks (up to 9-axles), motorcycle, bus, motorhome, RV, limousine.</li> <li>Specify truck parameters such as weight, height, axle counts to receive tolls based on weight, height, etc.</li> <li>Specify the timestamp of each GPS trace. If you do not specify the timestamp, tolls are likely to be inaccurate on time-based-toll facilities.</li> <li>Specify whether you want to receive toll information immediately (isAsync=false) or can wait (isAsync=true). Use the asynchronous mode when uploading multiple or large GPS track files. Response in asynchronous mode comes with a requestId and a requestedTimestamp. These results would be available for download for up to 30 days.</li> </ul> The route matched may slightly differ based on vehicle type specified. For example, let us consider roads that have tolled express lanes and toll-free general purpose lanes on the same corridor. If trucks are not allowed on the express lane, route matched when you specify truck as the vehicle type will exclude express lanes and, therefore, is likely to be different compared to the route matched for a 2-axle car. TollGuru matches GPS tracks to a route using <b><a href=\"https://en.wikipedia.org/wiki/Map_matching\" target=\"_blank\">Map Matching</a></b> and calculates tolls for the matched route. <b><a href=\"https://medium.com/TollGuru/debugging-route-polyline-errors-TollGuru-polyline-to-toll-api-8f7c4f1fd317\" target=\"_blank\">Refer to this article</a></b> to understand why we need to match GPS tracks to a route <h3>Questions for constructing request body</h3>  <ul>  <li><a href=\"https://tollguru.com/tolls-using-gps-tracks-faq#How-to-receive-tolls-for-GPS-tracks-in-csv-format?\" rel=\"noopener\" target=\"_blank\">How to receive tolls for GPS tracks in csv format?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-gps-tracks-faq#How-to-receive-tolls-for-GPS-tracks-covering-a-very-long-route?\" rel=\"noopener\" target=\"_blank\">How to receive tolls for GPS tracks covering a very long route?</a></li>  <li><a href=\"https://tollguru.com/tolls-using-gps-tracks-faq#How-to-add-and-customize-a-vehicle?\" rel=\"noopener\" target=\"_blank\">How to add and customize a vehicle?</a></li>  </ul>"
    },
    {
      "name": "Transaction Count API"
    },
    {
      "name": "Errors and Troubleshooting",
      "description": "The TollGuru Toll API uses conventional HTTP status codes to indicate any errors that occur while processing requests. In general- Codes in the 2xx range indicate success. Codes in the 4xx range indicate an error that failed given the information provided (e.g., origin and destination is same, etc.). Codes in the 5xx range indicate an error with TollGuru server. The responses provided below can help in debugging the error.   <h3>Error Messages </h3> <table> <tr> <th>Status</th> <th>Code</th> <th>Value</th> <!-- <th>Description</th> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Invalid request. The From and To locations cannot be empty</td> <!-- <td>This error occurs when attempting to make a request to the API without providing valid values for the From and To locations</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Invalid request. The From and To locations must be different</td> <!-- <td>This error occurs when making an API request with identical From and To locations. The API requires that these locations are distinct for proper processing</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>No path or polyline provide</td> <!-- <td>This error occurs when no polyline or path is provided in the request body.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Invalid locTimes. Length should be greater than 2.</td> <!-- <td>This error occurs when the length of locTimes is less than or equal to 2.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Unsupported vehicle type. Please provide a valid vehicle type.</td> <!-- <td>This error occurs when the provided vehicle type is not among the supported types.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Weight cannot be less than zero</td> <!-- <td>This error occurs when the provided vehicle weight is not valid.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Height cannot be less than zero</td> <!-- <td>This error occurs when the provided vehicle height is not valid.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Fuel cost cannot be less than 0</td> <!-- <td>This error occurs when the provided fuel cost value is not a valid number.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>City fuel efficiency cannot be less than 0</td> <!-- <td>This error occurs when the provided fuel efficiency values for city are not valid numbers.</td> --> </tr> <tr> <td>400</td> <td>INPUT_ERROR</td> <td>Highway fuel efficiency cannot be less than 0</td> <!-- <td>This error occurs when the provided fuel efficiency values for highway are not valid numbers.</td> --> </tr> <tr> <td>500</td> <td>ROUTING_ERROR</td> <td>No route exist</td> <!-- <td>This error occurs in cases where a route cannot be established for the provided From and To locations, or when it is not feasible to determine a route between them</td> --> </tr> <tr> <td>500</td> <td>TOLLING_ERROR</td> <td>API call failed with status: 500 Internal Server Error</td> <!-- <td>This error occurs when we are unable to find the toll prices of a given route.</td> --> </tr> </table> </p> <p>Error response format</p>  <pre> {\"status\": 500, \"code\": \"TOLLING_ERROR\", \"value\": \"API call failed with status: 500 Internal Server Error\"} </pre> <ol> <li> <h4>Input Error - (INPUT_ERROR)</h4> <p>Errors caused as a result of bad csv file or malformed inputs</p> <p><b>Example</b></p> <pre> { \"status\": \"ERROR\", \"code\": \"INPUT_ERROR\" \"value\": \"Invalid request. The From and To locations cannot be empty\"} </pre> </li> <li> <h4>Routing Error - (ROUTING_ERROR)</h4> <p>Errors arising out of routing issues like traces not making a valid route as detected by our algorithm.</p> <p><b>Example</b></p> <pre> {\"status\": 500, \"code\": \"ROUTING_ERROR\", \"value\": \"No route exist\"} </pre> </li> <li> <h4>Tolling Error - (TOLLING_ERROR)</h4> <p>Errors caused while finding the toll prices of a given route.</p> <p><b>Example</b></p> <pre> {\"status\": 500, \"code\": \"TOLLING_ERROR\", \"value\": \"API call failed with status: 500 Internal Server Error\"} </pre> </li> </ol> <p> <ul><li>The status is the status code returned by the server</li><li>The code is the error type which can be INPUT_ERROR, TOLLING_ERROR, ROUTING_ERROR, SERVICE_ERROR</li><li>The value is the error message return </li></ul> </p>"
    },
    {
      "name": "Vehicle types supported by TollGuru",
      "description": "Any of the following can be given as value to **vehicleType** argument. By default it's **2AxlesAuto**. <!------------------------------------------------------------------------------> <!--------------------------North America---------------------------------------> <!------------------------------------------------------------------------------>\n<details> <summary><b>North America</b></summary> <ul style=\"list-style-type:none;\"> <li> <details> <summary>Car, SUV, Pickup truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>2AxlesAuto</td> <td>Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>3AxlesAuto</td> <td>Car, SUV or Pickup truck towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/4AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>4AxlesAuto</td> <td>Car, SUV or Pickup truck towing 2-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesDualTire.png\" width=75 height=\"auto\"> </td> <td>2AxlesDualTire</td> <td>SUV or Pickup, 4 tires on rear</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesDualTire.png\" width=150 height=\"auto\"> </td> <td>3AxlesDualTire</td> <td>SUV or Pickup, 4 tires on rear, 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/4AxlesDualTire.png\" width=150 height=\"auto\"> </td> <td>4AxlesDualTire</td> <td>SUV or Pickup, 4 tires on rear, 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>EV</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesEV.png\" width=150 height=\"auto\"> </td> <td>2AxlesEV</td> <td>EV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesEV.png\" width=150 height=\"auto\"> </td> <td>3AxlesEV</td> <td>EV towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/4AxlesEV.png\" width=150 height=\"auto\"> </td> <td>4AxlesEV</td> <td>EV towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>2AxlesTruck</td> <td>Truck - 2 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>3AxlesTruck</td> <td>Truck - 3 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/4AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>4AxlesTruck</td> <td>Truck - 4 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/5AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>5AxlesTruck</td> <td>Truck - 5 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/6AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>6AxlesTruck</td> <td>Truck - 6 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/7AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>7AxlesTruck</td> <td>Truck - 7 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/8AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>8AxlesTruck</td> <td>Truck - 8 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/9AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>9AxlesTruck</td> <td>Truck - 9 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Bus</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesBus.png\" width=150 height=\"auto\"> </td> <td>2AxlesBus</td> <td>Bus - 2 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesBus.png\" width=150 height=\"auto\"> </td> <td>3AxlesBus</td> <td>Bus - 3 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Motorcycle</summary>\n<table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesMotorcycle.png\" width=150 height=\"auto\"> </td> <td>2AxlesMotorcycle</td> <td>Motorcycle</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesMotorcycle.png\" width=150 height=\"auto\"> </td> <td>3AxlesMotorcycle</td> <td>Motorcycle towing trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Recreational Vehicle</summary>\n<table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesRv.png\" width=150 height=\"auto\"> </td> <td>2AxlesRv</td> <td>RV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/3AxlesRv.png\" width=150 height=\"auto\"> </td> <td>3AxlesRv</td> <td>RV towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/4AxlesRv.png\" width=150 height=\"auto\"> </td> <td>4AxlesRv</td> <td>RV towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Rideshare, Taxi, Carpool</summary>\n<table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesTNC.png\" width=150 height=\"auto\"> </td> <td>2AxlesTNC</td> <td>Rideshare - Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesTNCPool.png\" width=150 height=\"auto\"> </td> <td>2AxlesTNCPool</td> <td>Rideshare Pool - Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesTaxi.png\" width=150 height=\"auto\"> </td> <td>2AxlesTaxi</td> <td>Taxi - Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/2AxlesTaxiPool.png\" width=150 height=\"auto\"> </td> <td>2AxlesTaxiPool</td> <td>Taxi Pool - Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/Carpool2.png\" width=150 height=\"auto\"> </td> <td>Carpool2</td> <td>Carpool (2 occupants)</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/North_America/Carpool3.png\" width=150 height=\"auto\"> </td> <td>Carpool3</td> <td>Carpool (3+ occupants)</td> </tr> </table> </details> </li> </ul> <blockquote cite=\"https://github.com/mapup/tollguru_country_coverage/wiki/Countries-supported-by-TollGuru\"> Country covered&#58; <blockquote> Bahamas, Belize, Canada, Costa Rica, Cuba, Dominican Republic, El Salvador, Guatemala, Honduras, Jamaica, Mexico, Nicaragua, Panama, Puerto Rico, United States of America </blockquote> </blockquote> </details>\n<!------------------------------------------------------------------------------> <!----------------------------------Europe--------------------------------------> <!------------------------------------------------------------------------------>\n<details> <summary><b>Europe</b></summary> <ul style=\"list-style-type:none;\"> <li> <details> <summary>Car and SUV</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesAuto.png\" width=150 height=\"auto\" </td> <td>2AxlesAuto</td> <td>Car, SUV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesAuto.png\" width=150 height=\"auto\" </td> <td>3AxlesAuto</td> <td>Car, SUV towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesAuto.png\" width=150 height=\"auto\" </td> <td>4AxlesAuto</td> <td>Car, SUV towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Light goods vehicles</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesLGV.png\" width=150 height=\"auto\" </td> <td>2AxlesLGV</td> <td>Light goods vehicles 2-Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesTruck.png\" width=150 height=\"auto\" </td> <td>2AxlesTruck</td> <td>Heavy goods vehicles 2-Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesTruck.png\" width=150 height=\"auto\" </td> <td>3AxlesTruck</td> <td>Truck - 3 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesTruck.png\" width=150 height=\"auto\" </td> <td>4AxlesTruck</td> <td>Truck - 4 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/5AxlesTruck.png\" width=150 height=\"auto\" </td> <td>5AxlesTruck</td> <td>Truck - 5 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/6AxlesTruck.png\" width=150 height=\"auto\" </td> <td>6AxlesTruck</td> <td>Truck - 6 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/7AxlesTruck.png\" width=150 height=\"auto\" </td> <td>7AxlesTruck</td> <td>Truck - 7 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Bus</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesBus.png\" width=150 height=\"auto\" </td> <td>2AxlesBus</td> <td>Bus - 2 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesBus.png\" width=150 height=\"auto\" </td> <td>3AxlesBus</td> <td>Bus - 3 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesBus.png\" width=150 height=\"auto\" </td> <td>4AxlesBus</td> <td>Bus - 4 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Motorhome</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesRv.png\" width=150 height=\"auto\"> </td> <td>2AxlesRv</td> <td>Motorhome</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesRv.png\" width=150 height=\"auto\"> </td> <td>3AxlesRv</td> <td>Motorhome towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesRv.png\" width=150 height=\"auto\"> </td> <td>4AxlesRv</td> <td>Motorhome towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Motorcycle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesMotorcycle.png\" width=150 height=\"auto\"> </td> <td>2AxlesMotorcycle</td> <td>Motorcycle, Motorcycle with sidecar</td> </tr> </table> </details> </li> </ul> <blockquote cite=\"https://github.com/mapup/tollguru_country_coverage/wiki/Countries-supported-by-TollGuru\"> Country covered&#58; <blockquote> Albania, Andorra, Austria, Belarus, Belgium, Bosnia and Herzegovina, Bulgaria, Croatia, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Kosovo, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Moldova, Monaco, Montenegro, Netherlands, North Macedonia, Norway, Poland, Portugal, Romania, Russia, Russia, San Marino, Serbia, Slovakia, Slovenia, Spain, Sweden, Switzerland, Turkey, Ukraine, United Kingdom </blockquote> </blockquote> </details>\n\n<!------------------------------------------------------------------------------> <!----------------------------------Australia-----------------------------------> <!------------------------------------------------------------------------------>\n<details> <summary><b>Australia</b></summary> <ul style=\"list-style-type:none;\"> <li> <details> <summary>Car, SUV</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesAuto.png\" width=150 height=\"auto\" </td> <td>2AxlesAuto</td> <td>Car, SUV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/AutoTrailerCatA.png\" width=150 height=\"auto\"> </td> <td>AutoTrailerCatA</td> <td>Car towing trailer (length<12.5 meter & height <2 meter)</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/AutoTrailerCatB.png\" width=150 height=\"auto\"> </td> <td>AutoTrailerCatB</td> <td>Car towing trailer (length>12.5 meter & height >2 meter)</td> </tr> </table> </details> </li>\n<li> <details> <summary>Taxi</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesTaxi.png\" width=150 height=\"auto\" </td> <td>2AxlesTaxi</td> <td>Taxi</td> </tr> </table> </details> </li>\n<li> <details> <summary>Light Commercial Vehicle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesLCV.png\" width=150 height=\"auto\" </td> <td>2AxlesLCV</td> <td>Light Commercial Vehicles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesTruck.png\" width=150 height=\"auto\" </td> <td>2AxlesTruck</td> <td>Truck 2-Axles, Rigid</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/3AxlesTruck.png\" width=150 height=\"auto\" </td> <td>3AxlesTruck</td> <td>Truck 3-Axles, Rigid, Articulated</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/4AxlesTruck.png\" width=150 height=\"auto\" </td> <td>4AxlesTruck</td> <td>Truck 4-Axles, Rigid, Articulated</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/5AxlesTruck.png\" width=150 height=\"auto\" </td> <td>5AxlesTruck</td> <td>Truck 5-Axles, Articulated</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/6AxlesTruck.png\" width=150 height=\"auto\" </td> <td>6AxlesTruck</td> <td>Truck 6-Axles, Articulated, B-Double</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/7AxlesTruck.png\" width=150 height=\"auto\" </td> <td>7AxlesTruck</td> <td>Truck 7-Axles, Articulated, B-Double</td> </tr> </table> </details> </li>\n<li> <details> <summary>Bus</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesBus.png\" width=150 height=\"auto\" </td> <td>2AxlesBus</td> <td>Bus</td> </tr> </table> </details> </li>\n<li> <details> <summary>Recreational Vehicle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/RVCatA.png\" width=150 height=\"auto\" </td> <td>RVCatA</td> <td>RV (length < 12.5 meter & height < 2 meter)</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/RVCatB.png\" width=150 height=\"auto\" </td> <td>RVCatB</td> <td>RV (length > 12.5 meter or height > 2 meter)</td> </tr> </table> </details> </li>\n<li> <details> <summary>Motorcycle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Australia/2AxlesMotorcycle.png\" width=150 height=\"auto\"> </td> <td>2AxlesMotorcycle</td> <td>Motorcycle; with or without trailer</td> </tr> </table> </details> </li> </ul> <blockquote cite=\"https://github.com/mapup/tollguru_country_coverage/wiki/Countries-supported-by-TollGuru\"> Country covered&#58; <blockquote> Australia, New Zealand </blockquote> </blockquote> </details>\n\n<!------------------------------------------------------------------------------> <!----------------------------------Asia----------------------------------------> <!------------------------------------------------------------------------------>\n<details> <summary><b>Asia</b></summary> <ul style=\"list-style-type:none;\"> <li> <details> <summary>Car, Jeep, Van, SUV</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesAuto.png\" width=150 height=\"auto\"></td> <td>2AxlesAuto</td> <td>Car, Jeep, Van, SUV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/3AxlesAuto.png\" width=150 height=\"auto\"></td> <td>3AxlesAuto</td> <td>Car, SUV towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/4AxlesAuto.png\" width=150 height=\"auto\"></td> <td>4AxlesAuto</td> <td>Car, SUV towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Taxi</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxleTaxi.png\" width=150 height=\"auto\"> </td> <td>2AxlesTaxi</td> <td>Taxi</td> </tr> </table> </details> </li>\n<li> <details> <summary>Pickup Truck, Light Commercial Vehicle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesLCV.png\" width=150 height=\"auto\"> </td> <td>2AxlesLCV</td> <td>Pickup truck, Light Commercial Vehicles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesTruck.png\" width=150 height=\"auto\" </td> <td>2AxlesTruck</td> <td>Truck - 2-Axles <br> For India&#58; Truck with 2-Axle whose gross weight >12,000kgs & <=16,200kgs< /td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/3Axles.png\" width=150 height=\"auto\"> </td> <td>3AxlesTruck</td> <td>Truck - 3 Axles <br> For India&#58; Truck with 3-Axle whose gross weight >16,200kgs & <=25,000kgs< /td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/4Axles.png\" width=150 height=\"auto\"> </td> <td>4AxlesTruck</td> <td>Truck - 4 Axles <br> For India&#58; Truck with 4-Axle whose gross weight >25,000kgs & <=36,600kgs< /td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/5Axles.png\" width=150 height=\"auto\"> </td> <td>5AxlesTruck</td> <td>Truck - 5 Axles <br> For India&#58; Truck with 5-Axle whose gross weight >36,600kgs & <=45,400kgs< /td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/6Axles.png\" width=150 height=\"auto\"> </td> <td>6AxlesTruck</td> <td>Truck - 6 Axles <br> for India&#58; Truck with 6-Axle whose gross weight >45,400kgs & <=54,200kgs< /td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/7Axles.png\" width=150 height=\"auto\"> </td> <td>7AxlesTruck</td> <td>Truck - 7 Axles <br> For India&#58; Truck with 7-Axle whose gross weight >54,200kgs </td> </tr> </table> </details> </li>\n<li> <details> <summary>Bus</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesBus.png\" width=150 height=\"auto\"> </td> <td>2AxlesBus</td> <td>Bus - 2-Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesBus.png\" width=150 height=\"auto\" </td> <td>3AxlesBus</td> <td>Bus - 3 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesBus.png\" width=150 height=\"auto\" </td> <td>4AxlesBus</td> <td>Bus - 4 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Recreational Vehicle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/2AxlesRv.png\" width=150 height=\"auto\"> </td> <td>2AxlesRv</td> <td>Motorhome (not applicable to India)</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/3AxlesRv.png\" width=150 height=\"auto\"> </td> <td>3AxlesRv</td> <td>Motorhome towing 1-axle trailer (not applicable to India)</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Europe/4AxlesRv.png\" width=150 height=\"auto\"> </td> <td>4AxlesRv</td> <td>Motorhome towing 2-axle trailer (not applicable to India)</td> </tr> </table> </details> </li>\n<li> <details> <summary>Heavy Construction Machinery and Earth Moving Equipment</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesHCMEME.png\" width=150 height=\"auto\" </td> <td>2AxlesHCMEME</td> <td>HCM, EME (applicable to India only)</td> </tr> </table> </details> </li>\n<li> <details> <summary>Bike</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Asia/2AxlesMotorcycle.png\" width=150 height=\"auto\" </td> <td>2AxlesMotorcycle</td> <td>Bike</td> </tr> </table> </details> </li> </ul> <blockquote cite=\"https://github.com/mapup/tollguru_country_coverage/wiki/Countries-supported-by-TollGuru\"> Country covered&#58; <blockquote> Bangladesh, India, Indonesia, Laos, Malaysia, Myanmar, Philipines, Singapore, Taiwan, Thailand, Vietnam </blockquote> </blockquote> </details>\n\n<!------------------------------------------------------------------------------> <!-----------------------------Latin America------------------------------------> <!------------------------------------------------------------------------------>\n<details> <summary><b>Latin America</b></summary> <ul style=\"list-style-type:none;\"> <li> <details> <summary>Car, SUV, Pickup truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/2AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>2AxlesAuto</td> <td>Car, SUV or Pickup truck</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/3AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>3AxlesAuto</td> <td>Car, SUV or Pickup truck towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/4AxlesAuto.png\" width=150 height=\"auto\"> </td> <td>4AxlesAuto</td> <td>Car, SUV or Pickup truck towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Truck</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/2AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>2AxlesTruck</td> <td>Truck - 2 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/3AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>3AxlesTruck</td> <td>Truck - 3 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/4AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>4AxlesTruck</td> <td>Truck - 4 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/5AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>5AxlesTruck</td> <td>Truck - 5 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/6AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>6AxlesTruck</td> <td>Truck - 6 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/7AxlesTruck.png\" width=150 height=\"auto\"> </td> <td>7AxlesTruck</td> <td>Truck - 7 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Bus</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/2AxlesBus.png\" width=150 height=\"auto\"> </td> <td>2AxlesBus</td> <td>Bus - 2 Axles</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/3AxlesBus.png\" width=150 height=\"auto\"> </td> <td>3AxlesBus</td> <td>Bus - 3 Axles</td> </tr> </table> </details> </li>\n<li> <details> <summary>Recreational Vehicle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/2AxlesRv.png\" width=150 height=\"auto\"> </td> <td>2AxlesRv</td> <td>RV</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/3AxlesRv.png\" width=150 height=\"auto\"> </td> <td>3AxlesRv</td> <td>RV towing 1-axle trailer</td> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/4AxlesRv.png\" width=150 height=\"auto\"> </td> <td>4AxlesRv</td> <td>RV towing 2-axle trailer</td> </tr> </table> </details> </li>\n<li> <details> <summary>Motorcycle</summary> <table> <tr> <th> Icon </th> <th> vehicleType </th> <th> Description </th> </tr> <tr> <td><img src=\"https://cdn.tollguru.com/github/Latin_America/2AxlesMotorcycle.png\" width=150 height=\"auto\"> </td> <td>2AxlesMotorcycle</td> <td>Motorcycle</td> </tr> </table> </details> </li> </ul> <blockquote cite=\"https://github.com/mapup/tollguru_country_coverage/wiki/Countries-supported-by-TollGuru\"> Country covered&#58; <blockquote> Argentina, Bolivia, Brazil, Chile, Colombia, Ecuador, Falkland Islands, French Guiana, Guyana, Paraguay, Peru, Suriname, Uruguay, Venezuela </blockquote> </blockquote> </details>"
    }
  ],
  "paths": {
    "/getUsage": {
      "get": {
        "tags": [
          "Transaction Count API"
        ],
        "summary": "Retrieves total number of transactions processed.",
        "description": "<ul> <li>Authentication and authorization are required to use the API, which is done by providing an API key.</li> <li>Developers can make requests to the API and specify the start and end dates to retrieve the transaction count for a desired time period.</li> <li>The API response is typically in JSON format.</li> <li>The response includes the total number of transactions processed for each day in the specified time period.</li> </ul>'",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "Number",
              "description": "Timestamp (epoch) in seconds"
            },
            "example": 1681627076
          },
          {
            "name": "endTime",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "Number",
              "description": "Timestamp (epoch) in seconds"
            },
            "example": 1682491124
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionCountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "authorizer": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\")\n  .get()\n  .addHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\");\nxhr.setRequestHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"apis.tollguru.com\",\n  \"port\": null,\n  \"path\": \"/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://apis.tollguru.com/getUsage',\n  qs: {startTime: 'SOME_NUMBER_VALUE', endTime: 'SOME_NUMBER_VALUE'},\n  headers: {'x-api-key': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node + Unirest",
            "source": "const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://apis.tollguru.com/getUsage\");\n\nreq.query({\n  \"startTime\": \"SOME_NUMBER_VALUE\",\n  \"endTime\": \"SOME_NUMBER_VALUE\"\n});\n\nreq.headers({\n  \"x-api-key\": \"REPLACE_KEY_VALUE\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml + Cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php + Http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis.tollguru.com/getUsage');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'startTime' => 'SOME_NUMBER_VALUE',\n  'endTime' => 'SOME_NUMBER_VALUE'\n]);\n\n$request->setHeaders([\n  'x-api-key' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://apis.tollguru.com/getUsage');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'startTime' => 'SOME_NUMBER_VALUE',\n  'endTime' => 'SOME_NUMBER_VALUE'\n]));\n\n$request->setHeaders([\n  'x-api-key' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"apis.tollguru.com\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python + Requests",
            "source": "import requests\n\nurl = \"https://apis.tollguru.com/getUsage\"\n\nquerystring = {\"startTime\":\"SOME_NUMBER_VALUE\",\"endTime\":\"SOME_NUMBER_VALUE\"}\n\nheaders = {\"x-api-key\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE' \\\n  x-api-key:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell + Wget",
            "source": "wget --quiet \\\n  --method GET \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE'"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis.tollguru.com/getUsage?startTime=SOME_NUMBER_VALUE&endTime=SOME_NUMBER_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      }
    },
    "/toll/v2/origin-destination-waypoints": {
      "post": {
        "tags": [
          "Tolls between Origin, destination, waypoints"
        ],
        "summary": "Tolls between origin, destination, and waypoints (if any)",
        "description": "If you are looking for toll information for routes that consider bridge height restrictions, axle count, weight restrictions, HAZMAT restrictions, we suggest that you use HERE maps (we use HERE maps by default). Specifically, with the HERE maps API service, you can <ul> <li>Specify origins, destinations, and waypoints as text strings (e.g. “Dallas, TX”, “Sydney, NSW, Australia”, “Paris, France” or “Jaipur, Rajasthan, India”), as place IDs, or as latitude/longitude coordinates</li> <li>Specify origin, destination, and waypoints as zip codes (followed by country code or name)</li> <li>Specify vehicle type. The route and tolls are returned for the specific vehicle. For example, you can get tolls for vehicles based on axle count (cars, SUV, pick-up, truck, motorcycle, bus, motorhome / RV, limousine.</li> <li>The response will include toll information, fuel cost information, duration  </li> </ul>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinimalRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HERE_OtherVehicleTypes"
                }
              }
            }
          }
        },
        "security": [
          {
            "authorizer": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nrequest.AddParameter(\"application/json\", \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\"\n\n\tpayload := strings.NewReader(\"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = JSON.stringify({\n  \"from\": {\n    \"address\": \"Philadelphia , Pennsylvania,\",\n    \"lat\": 39.95209,\n    \"lng\": -75.16219\n  },\n  \"to\": {\n    \"address\": \"New York ,NY,\",\n    \"lat\": 40.71455,\n    \"lng\": -74.00715\n  },\n  \"waypoints\": [\n    {\n      \"address\": \"Bridgewater Township , New Jersey\"\n    }\n  ],\n  \"serviceProvider\": \"here\",\n  \"vehicle\": {\n    \"type\": \"2AxlesTaxi\",\n    \"weight\": {\n      \"value\": 20000,\n      \"unit\": \"pound\"\n    },\n    \"height\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"length\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"axles\": 4,\n    \"emissionClass\": \"euro_5\"\n  }\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"apis.tollguru.com\",\n  \"port\": null,\n  \"path\": \"/toll/v2/origin-destination-waypoints\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  from: {address: 'Philadelphia , Pennsylvania,', lat: 39.95209, lng: -75.16219},\n  to: {address: 'New York ,NY,', lat: 40.71455, lng: -74.00715},\n  waypoints: [{address: 'Bridgewater Township , New Jersey'}],\n  serviceProvider: 'here',\n  vehicle: {\n    type: '2AxlesTaxi',\n    weight: {value: 20000, unit: 'pound'},\n    height: {value: 7.5, unit: 'meter'},\n    length: {value: 7.5, unit: 'meter'},\n    axles: 4,\n    emissionClass: 'euro_5'\n  }\n}));\nreq.end();"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://apis.tollguru.com/toll/v2/origin-destination-waypoints',\n  headers: {'content-type': 'application/json', 'x-api-key': 'REPLACE_KEY_VALUE'},\n  body: {\n    from: {address: 'Philadelphia , Pennsylvania,', lat: 39.95209, lng: -75.16219},\n    to: {address: 'New York ,NY,', lat: 40.71455, lng: -74.00715},\n    waypoints: [{address: 'Bridgewater Township , New Jersey'}],\n    serviceProvider: 'here',\n    vehicle: {\n      type: '2AxlesTaxi',\n      weight: {value: 20000, unit: 'pound'},\n      height: {value: 7.5, unit: 'meter'},\n      length: {value: 7.5, unit: 'meter'},\n      axles: 4,\n      emissionClass: 'euro_5'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node + Unirest",
            "source": "const unirest = require(\"unirest\");\n\nconst req = unirest(\"POST\", \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\");\n\nreq.headers({\n  \"content-type\": \"application/json\",\n  \"x-api-key\": \"REPLACE_KEY_VALUE\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"from\": {\n    \"address\": \"Philadelphia , Pennsylvania,\",\n    \"lat\": 39.95209,\n    \"lng\": -75.16219\n  },\n  \"to\": {\n    \"address\": \"New York ,NY,\",\n    \"lat\": 40.71455,\n    \"lng\": -74.00715\n  },\n  \"waypoints\": [\n    {\n      \"address\": \"Bridgewater Township , New Jersey\"\n    }\n  ],\n  \"serviceProvider\": \"here\",\n  \"vehicle\": {\n    \"type\": \"2AxlesTaxi\",\n    \"weight\": {\n      \"value\": 20000,\n      \"unit\": \"pound\"\n    },\n    \"height\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"length\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"axles\": 4,\n    \"emissionClass\": \"euro_5\"\n  }\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\",\n                           @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"from\": @{ @\"address\": @\"Philadelphia , Pennsylvania,\", @\"lat\": @39.95209, @\"lng\": @-75.16219 },\n                              @\"to\": @{ @\"address\": @\"New York ,NY,\", @\"lat\": @40.71455, @\"lng\": @-74.00715 },\n                              @\"waypoints\": @[ @{ @\"address\": @\"Bridgewater Township , New Jersey\" } ],\n                              @\"serviceProvider\": @\"here\",\n                              @\"vehicle\": @{ @\"type\": @\"2AxlesTaxi\", @\"weight\": @{ @\"value\": @20000, @\"unit\": @\"pound\" }, @\"height\": @{ @\"value\": @7.5, @\"unit\": @\"meter\" }, @\"length\": @{ @\"value\": @7.5, @\"unit\": @\"meter\" }, @\"axles\": @4, @\"emissionClass\": @\"euro_5\" } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml + Cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"content-type\", \"application/json\");\n  (\"x-api-key\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\" in\n\nClient.call ~headers ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\",\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php + Http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis.tollguru.com/toll/v2/origin-destination-waypoints');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'x-api-key' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"from\":{\"address\":\"Philadelphia , Pennsylvania,\",\"lat\":39.95209,\"lng\":-75.16219},\"to\":{\"address\":\"New York ,NY,\",\"lat\":40.71455,\"lng\":-74.00715},\"waypoints\":[{\"address\":\"Bridgewater Township , New Jersey\"}],\"serviceProvider\":\"here\",\"vehicle\":{\"type\":\"2AxlesTaxi\",\"weight\":{\"value\":20000,\"unit\":\"pound\"},\"height\":{\"value\":7.5,\"unit\":\"meter\"},\"length\":{\"value\":7.5,\"unit\":\"meter\"},\"axles\":4,\"emissionClass\":\"euro_5\"}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"from\":{\"address\":\"Philadelphia , Pennsylvania,\",\"lat\":39.95209,\"lng\":-75.16219},\"to\":{\"address\":\"New York ,NY,\",\"lat\":40.71455,\"lng\":-74.00715},\"waypoints\":[{\"address\":\"Bridgewater Township , New Jersey\"}],\"serviceProvider\":\"here\",\"vehicle\":{\"type\":\"2AxlesTaxi\",\"weight\":{\"value\":20000,\"unit\":\"pound\"},\"height\":{\"value\":7.5,\"unit\":\"meter\"},\"length\":{\"value\":7.5,\"unit\":\"meter\"},\"axles\":4,\"emissionClass\":\"euro_5\"}}');\n\n$request->setRequestUrl('https://apis.tollguru.com/toll/v2/origin-destination-waypoints');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'x-api-key' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"apis.tollguru.com\")\n\npayload = \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'x-api-key': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/toll/v2/origin-destination-waypoints\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python + Requests",
            "source": "import requests\n\nurl = \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\"\n\npayload = {\n    \"from\": {\n        \"address\": \"Philadelphia , Pennsylvania,\",\n        \"lat\": 39.95209,\n        \"lng\": -75.16219\n    },\n    \"to\": {\n        \"address\": \"New York ,NY,\",\n        \"lat\": 40.71455,\n        \"lng\": -74.00715\n    },\n    \"waypoints\": [{\"address\": \"Bridgewater Township , New Jersey\"}],\n    \"serviceProvider\": \"here\",\n    \"vehicle\": {\n        \"type\": \"2AxlesTaxi\",\n        \"weight\": {\n            \"value\": 20000,\n            \"unit\": \"pound\"\n        },\n        \"height\": {\n            \"value\": 7.5,\n            \"unit\": \"meter\"\n        },\n        \"length\": {\n            \"value\": 7.5,\n            \"unit\": \"meter\"\n        },\n        \"axles\": 4,\n        \"emissionClass\": \"euro_5\"\n    }\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTaxi\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://apis.tollguru.com/toll/v2/origin-destination-waypoints \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --data '{\"from\":{\"address\":\"Philadelphia , Pennsylvania,\",\"lat\":39.95209,\"lng\":-75.16219},\"to\":{\"address\":\"New York ,NY,\",\"lat\":40.71455,\"lng\":-74.00715},\"waypoints\":[{\"address\":\"Bridgewater Township , New Jersey\"}],\"serviceProvider\":\"here\",\"vehicle\":{\"type\":\"2AxlesTaxi\",\"weight\":{\"value\":20000,\"unit\":\"pound\"},\"height\":{\"value\":7.5,\"unit\":\"meter\"},\"length\":{\"value\":7.5,\"unit\":\"meter\"},\"axles\":4,\"emissionClass\":\"euro_5\"}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"from\":{\"address\":\"Philadelphia , Pennsylvania,\",\"lat\":39.95209,\"lng\":-75.16219},\"to\":{\"address\":\"New York ,NY,\",\"lat\":40.71455,\"lng\":-74.00715},\"waypoints\":[{\"address\":\"Bridgewater Township , New Jersey\"}],\"serviceProvider\":\"here\",\"vehicle\":{\"type\":\"2AxlesTaxi\",\"weight\":{\"value\":20000,\"unit\":\"pound\"},\"height\":{\"value\":7.5,\"unit\":\"meter\"},\"length\":{\"value\":7.5,\"unit\":\"meter\"},\"axles\":4,\"emissionClass\":\"euro_5\"}}' |  \\\n  http POST https://apis.tollguru.com/toll/v2/origin-destination-waypoints \\\n  content-type:application/json \\\n  x-api-key:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell + Wget",
            "source": "wget --quiet \\\n  --method POST \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --body-data '{\"from\":{\"address\":\"Philadelphia , Pennsylvania,\",\"lat\":39.95209,\"lng\":-75.16219},\"to\":{\"address\":\"New York ,NY,\",\"lat\":40.71455,\"lng\":-74.00715},\"waypoints\":[{\"address\":\"Bridgewater Township , New Jersey\"}],\"serviceProvider\":\"here\",\"vehicle\":{\"type\":\"2AxlesTaxi\",\"weight\":{\"value\":20000,\"unit\":\"pound\"},\"height\":{\"value\":7.5,\"unit\":\"meter\"},\"length\":{\"value\":7.5,\"unit\":\"meter\"},\"axles\":4,\"emissionClass\":\"euro_5\"}}' \\\n  --output-document \\\n  - https://apis.tollguru.com/toll/v2/origin-destination-waypoints"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"content-type\": \"application/json\",\n  \"x-api-key\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\n  \"from\": [\n    \"address\": \"Philadelphia , Pennsylvania,\",\n    \"lat\": 39.95209,\n    \"lng\": -75.16219\n  ],\n  \"to\": [\n    \"address\": \"New York ,NY,\",\n    \"lat\": 40.71455,\n    \"lng\": -74.00715\n  ],\n  \"waypoints\": [[\"address\": \"Bridgewater Township , New Jersey\"]],\n  \"serviceProvider\": \"here\",\n  \"vehicle\": [\n    \"type\": \"2AxlesTaxi\",\n    \"weight\": [\n      \"value\": 20000,\n      \"unit\": \"pound\"\n    ],\n    \"height\": [\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    ],\n    \"length\": [\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    ],\n    \"axles\": 4,\n    \"emissionClass\": \"euro_5\"\n  ]\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      }
    },
    "/toll/v2/origin-destination-waypoints/#": {
      "post": {
        "tags": [
          "Tolls between Origin, destination, waypoints"
        ],
        "summary": "Tolls for truck",
        "description": "For truck routes you can specify restrictions - bridge height restrictions, axle count, weight restrictions, HAZMAT restrictions - to receive truck compliant routes. But you don’t need to send all the parameters. You can <ul> <li>Specify origins, destinations, and waypoints as text strings (e.g. “Dallas, TX”), as place IDs, or as latitude/longitude coordinates</li> <li>Specify origin, destination, and waypoints as zip codes (followed by country code or name)</li> <li>Specify truck type by changing the number of axles and other parameters such as weight, height, etc.</li> <li>The response will include toll information, fuel cost information, duration</li> </ul> For trucks, you will receive <ul> <li>Tolls between zip codes (zip code followed by country name)</li> <li>Truck compliant routes (based on axle count, height, weight, truck length.</li> <li>ETA that accounts for Hours-of-service (HOS) compliance</li> <li>State mileage for IFTA reporting</li> </ul>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Trucks Minimal Request Body"
                  },
                  {
                    "$ref": "#/components/schemas/Trucks Optional Request Body"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HERE_Truck"
                }
              }
            }
          }
        },
        "security": [
          {
            "authorizer": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nrequest.AddParameter(\"application/json\", \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\"\n\n\tpayload := strings.NewReader(\"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"from\\\":{\\\"address\\\":\\\"Philadelphia , Pennsylvania,\\\",\\\"lat\\\":39.95209,\\\"lng\\\":-75.16219},\\\"to\\\":{\\\"address\\\":\\\"New York ,NY,\\\",\\\"lat\\\":40.71455,\\\"lng\\\":-74.00715},\\\"waypoints\\\":[{\\\"address\\\":\\\"Bridgewater Township , New Jersey\\\"}],\\\"serviceProvider\\\":\\\"here\\\",\\\"vehicle\\\":{\\\"type\\\":\\\"2AxlesTruck\\\",\\\"weight\\\":{\\\"value\\\":20000,\\\"unit\\\":\\\"pound\\\"},\\\"height\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"length\\\":{\\\"value\\\":7.5,\\\"unit\\\":\\\"meter\\\"},\\\"axles\\\":4,\\\"emissionClass\\\":\\\"euro_5\\\"}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = JSON.stringify({\n  \"from\": {\n    \"address\": \"Philadelphia , Pennsylvania,\",\n    \"lat\": 39.95209,\n    \"lng\": -75.16219\n  },\n  \"to\": {\n    \"address\": \"New York ,NY,\",\n    \"lat\": 40.71455,\n    \"lng\": -74.00715\n  },\n  \"waypoints\": [\n    {\n      \"address\": \"Bridgewater Township , New Jersey\"\n    }\n  ],\n  \"serviceProvider\": \"here\",\n  \"vehicle\": {\n    \"type\": \"2AxlesTruck\",\n    \"weight\": {\n      \"value\": 20000,\n      \"unit\": \"pound\"\n    },\n    \"height\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"length\": {\n      \"value\": 7.5,\n      \"unit\": \"meter\"\n    },\n    \"axles\": 4,\n    \"emissionClass\": \"euro_5\"\n  }\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://apis.tollguru.com/toll/v2/origin-destination-waypoints/#\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
[...]
